@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"] {
        --input-border: #B9B9B9;

        height: 20px;
        width: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        transition-duration: 0.1s;
        cursor: pointer;
        background: var(--primary-white);
        border-radius: 4px;
        margin: 0;
        border: 1px solid var(--input-border);
        padding: 0;

        &:checked {
            background-size: 14px 14px;
            background: var(--primary-green) url('~@/assets/icons/check.svg') no-repeat center;
        }
    }
}
