.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}
