:root {
    --text-color: #202123;
    --primary-green: #55BB06;
    --primary-white: #FFFFFF;
    --border: #E6E8E7;
    --primary-blue: #7284E4;
    --primary-gray: #707276;
    --primary-red: #f73d34;
    --primary-bluish: #EAF0FA;;
}
